In [2]:
#Below code is for dim_film table 

import requests
import pandas as pd
import json

film_url="https://swapi.dev/api/films/"
response = requests.get(film_url)
data=response.json()['results']
new_data=[]
for dictt in data:
    row=[]
    id = dictt.get('url').split('/')[-2]
    row.append(id)
    row.append(dictt.get('title'))
    row.append(dictt.get('episode_id'))
    row.append(dictt.get('opening_crawl'))
    row.append(dictt.get('director'))
    row.append(dictt.get('producer'))
    row.append(len(dictt.get('characters')))
    row.append(len(dictt.get('planets')))
    row.append(len(dictt.get('starships')))
    row.append(len(dictt.get('vehicles')))
    row.append(len(dictt.get('species')))
    row.append(dictt.get('release_date'))
    row.append(dictt.get('created'))
    row.append(dictt.get('edited'))

    new_data.append(row)


#Writing pandas dataframe to Postgres DB
dim_film_df = pd.DataFrame(new_data, columns = ['id', 'title','episode_id',
                                       'opening_crawl','director','producer'
                                       ,'character_count','planet_count',
                                       'starship_count','vehicle_count',
                                       'species_count','release_date','created','edited'])

In [3]:
#Below Code to create table dim_film in postgres

from sqlalchemy import create_engine
db_url='postgresql://postgres:test123@localhost:5432/postgres'
engine = create_engine(db_url)
dim_film_df.to_sql('dim_film', engine, index=False)

In [4]:
##Below code is for dim_people table 
import requests
import json

people_url="https://swapi.dev/api/people/"
response_people = requests.get(people_url)
next_url=response_people.json()['next']
new_data_people=[]
while response_people:    
    data_people=response_people.json()['results']

    for dictt in data_people:
        row=[]
        id = dictt.get('url').split('/')[-2]
        row.append(id)
        #print('dictt ::',dictt)
        row.append(dictt.get('name'))
        row.append(dictt.get('height'))
        row.append(dictt.get('mass'))
        row.append(dictt.get('hair_color'))
        row.append(dictt.get('skin_color'))
        row.append(dictt.get('eye_color'))
        row.append(dictt.get('birth_year'))
        row.append(dictt.get('gender'))
        row.append(dictt.get('homeworld'))
        row.append(len(dictt.get('species')))
        row.append(len(dictt.get('vehicles')))
        row.append(len(dictt.get('starships')))
        row.append(dictt.get('created'))
        row.append(dictt.get('edited'))
    
        new_data_people.append(row)
        
    if next_url:
        response_people = requests.get(next_url) 
        print("url", next_url)
        next_url=response_people.json()['next']
    else:
        break

url https://swapi.dev/api/people/?page=2
url https://swapi.dev/api/people/?page=3
url https://swapi.dev/api/people/?page=4
url https://swapi.dev/api/people/?page=5
url https://swapi.dev/api/people/?page=6
url https://swapi.dev/api/people/?page=7
url https://swapi.dev/api/people/?page=8
url https://swapi.dev/api/people/?page=9

In [5]:
len(new_data_people)

82

In [6]:
#Create pandas dataframe 
df_people = pd.DataFrame(new_data_people, columns 
                         = ['id', 'name','height','mass',
                            'hair_color','skin_color','eye_color'
                            ,'birth_year','gender','homeworld',
                            'species_count','vehicle_count','starship_count','created','edited'])

In [7]:
#Writing pandas dataframe to Postgres DB for table dim_people

from sqlalchemy import create_engine
engine = create_engine(db_url)
df_people.to_sql('dim_people', engine, index = False)

In [8]:
#Below code is for dim_film_people table 

import requests
import pandas as pd
import json
response = requests.get("https://swapi.dev/api/films/")
data=response.json()['results']
new_data=[]
for dictt in data:
    
    id = dictt.get('url').split('/')[-2]

    people_id_lst = [i.split('/')[-2] for i in dictt.get('characters')]
    for pid in people_id_lst:
        temp=[]
        temp.append(id)
        temp.append(pid)
        new_data.append(temp)


film_people_map_df = pd.DataFrame(new_data, columns = ['film_id', 'people_id'])

In [9]:
film_people_map_df

    film_id people_id
0         1         1
1         1         2
2         1         3
3         1         4
4         1         5
5         1         6
6         1         7
7         1         8
8         1         9
9         1        10
10        1        12
11        1        13
12        1        14
13        1        15
14        1        16
15        1        18
16        1        19
17        1        81
18        2         1
19        2         2
20        2         3
21        2         4
22        2         5
23        2        10
24        2        13
25        2        14
26        2        18
27        2        20
28        2        21
29        2        22
..      ...       ...
132       6         5
133       6         6
134       6         7
135       6        10
136       6        11
137       6        12
138       6        13
139       6        20
140       6        21
141       6        33
142       6        35
143       6        46
144       6        51
145       6        52
146       6        53
147       6        54
148       6        55
149       6        56
150       6        58
151       6        63
152       6        64
153       6        67
154       6        68
155       6        75
156       6        78
157       6        79
158       6        80
159       6        81
160       6        82
161       6        83

[162 rows x 2 columns]

In [10]:
#Writing to film_people_map table
from sqlalchemy import create_engine
engine = create_engine(db_url)
film_people_map_df.to_sql('film_people_map', engine, index = False)